/*Color de fondo*/
body {
    background-color: #C0FFB7;

}

/*Color de cuerpo*/
#cuerpo {
    background-color: white;
}

/*Imagen grande de arriba (INICIO)*/
.slider {
    background: url("imagenes/banner%20grande.png");
    height: 90vh;
    background-size: cover;
    background-position: center;
}

/*Enlaces del menu*/
#enlaces {
    font-weight: bold;
    font-size: 16px;
}

/*Pie de pagina*/
#footer {
    background-color: #0F7304;
    text-align: center;
    padding: 10px;
    text-align: right;
}

#footer img {
    margin: 10px;
}

/*Imagen grande de arriba (RESTO DE PAGINAS)*/
#cabecera1 {
    background: url("imagenes/oasisbanner.png");
    height: 40vh;
    background-size: cover;
    background-position: center;
}

/*CSS PARA FORMULARIOS DE LA PAGINA ENTRAR y REGISTRARSE*/
.cuerpoform {
    width: 100%;
    margin: auto;
    max-width: 530px;
    min-height: 950px;
    position: relative;
    background: url(imagenes/fondologin2.png) no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);

}

.fondoform{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(40, 57, 101, .9);
}

.input, .button{
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
    margin-bottom: 15px;
    width: 100%;
}


.button{
    background: #0F7304;
    font-weight: bold;
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}

/*HASTA AQUI EL CSS DE LA PAGINA ENTRAR*/


/*CSS PARA FORMULARIOS*/

/*Ocultar formulario*/
.formoculto {
    display: none;
}

#input{
    border: solid 1px #C0FFB7;
    padding: 15px 20px;
    border-radius: 25px;
    background: #C0FFB7;
    margin-bottom: 15px;
    width: 80%;
}

#boton{
    border: solid 1px #95CF28;
    padding: 15px 20px;
    border-radius: 25px;
    background: #95CF28;
    margin-bottom: 15px;
    width: 80%;
    font-weight: bold;
}

#titulo{
    margin-bottom: 30px;
}

textarea{
    height: 150px;
}

/*HASTA AQUI EL CSS DE LOS FORMULARIOS*/


/*CSS para la pagina del usuario (frontend.php*/
table,
th,
td {
    padding: 15px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
}

th {
    background: #95CF28;
}

td {
    background: #C0FFB7;
}

#btnapadrinar {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

/*CSS para pagina animales.php*/
#animales{
    width: 50%;
    margin: auto;
    text-align: center;
}

/*CSS para la tabla del backend.php y frontend.php*/
#tabla{
    width: 50%;
    margin: 0 auto;
}


